<form action="https://rororobby.us2.list-manage.com/subscribe/post?u=9b2b51e4932f7cd5d88530922&amp;id=46e11b1469" method="post" class="flex-ns mb3" novalidate>

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input type="email" value="" id="email" placeholder="Your email" class="w-100">
    <label for="email">Your email</label>
  </fieldset>

  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9b2b51e4932f7cd5d88530922_46e11b1469" tabindex="-1" value=""></div>
  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit" name="subscribe">Submit</button>

</form>
